// SECTION advantage :: START

section#advantage.advantage
  .c-grid
    .advantage__wrapper

      .advantage__block-wrapper
        .advantage__block.advantage__block-0
          .advantage__block-title
            p!= "_E-STEM"
          .advantage__block-img
            img(src="./img/img-advantage-0.jpg" srcset="./img/img-advantage-0@2x.jpg 2x" alt="" title="")
          .advantage__block-desc
            p!= "Preview Text about the E-Stem system: <br>Just <span>the most basic information</span> should be written here basic but essential"

        .advantage__block.advantage__block-1
          .advantage__block-title
            p!= "_APP"
          .advantage__block-img
            img(src="./img/img-advantage-1.jpg" srcset="./img/img-advantage-1@2x.jpg 2x" alt="" title="")
          .advantage__block-desc
            p!= "Preview Text about the E-Stem system: <br>Just <span>the most basic information</span> should be written here basic but essential"

        .advantage__block.advantage__block-2
          .advantage__block-title
            p!= "_REMOTE"
          .advantage__block-img
            img(src="./img/img-advantage-2.jpg" srcset="./img/img-advantage-2@2x.jpg 2x" alt="" title="")
          .advantage__block-desc
            p!= "Preview Text about the E-Stem system: <br>Just <span>the most basic information</span> should be written here basic but essential"


// SECTION advantage :: END