// SECTION bike :: START

section#bike.bike
  .bike__wrapper
    .bike__head
      .bike__head-img.is-active(data-image-0)
        img(src="./img/img-bike-main.jpg" srcset="./img/img-bike-main@2x.jpg 2x" alt="" title="")
      .bike__head-img(data-image-1)
        img(src="./img/img-bike-main.jpg" srcset="./img/img-bike-main@2x.jpg 2x" alt="" title="")
      .bike__head-img(data-image-2)
        img(src="./img/img-bike-main.jpg" srcset="./img/img-bike-main@2x.jpg 2x" alt="" title="")

      .bike__head-row.bike__head-row--0

        a.bike__tabs.bike__tabs-0.is-active(href="#" class="" title="" data-btn-id='0')!= "G6.1 BOLD FS"
        a.bike__tabs.bike__tabs-1(href="#" class="" title="" data-btn-id='1')!= "G6.2 BOLD FS"
        a.bike__tabs.bike__tabs-2(href="#" class="" title="" data-btn-id='2')!= "G6.3 BOLD FS"

      .bike__head-row.bike__head-row--1

        h2.bike__title!= "G6.1 BOLD FS"
        p.bike__desc!= "_light weight CFK frame combined <br>with high end electronics"

      .bike__head-row.bike__head-row--2
        a.bike__btn.bike__btn--rear.is-active(href="#" class="" title="")!= "rear"
        a.bike__btn.bike__btn--front(href="#" class="" title="")!= "front"

    .bike__body
      .bike__block-wrapper
        .bike__block.bike__block-0.is-active(data-block-0)
          .bike__block-badge
            p!= "G6.1 BOLD FS"
          .bike__block-image
            img(src="./img/img-bike-additional.png" srcset="./img/img-bike-additional@2x.png 2x" alt="" title="")
          a.bike__block-specs(href="#" class="" title="")
            p!= "specs"
            span!= "+"

          p.bike__block-price!= "$ 7.345"

        .bike__block.bike__block-1(data-block-1)
          .bike__block-badge
            p!= "G6.2 BOLD FS"
          .bike__block-image
            img(src="./img/img-bike-additional.png" srcset="./img/img-bike-additional@2x.png 2x" alt="" title="")
          a.bike__block-specs(href="#" class="" title="")
            p!= "specs"
            span!= "+"

          p.bike__block-price!= "$ 7.345"

        .bike__block.bike__block-2(data-block-2)
          .bike__block-badge
            p!= "G6.3 BOLD FS"
          .bike__block-image
            img(src="./img/img-bike-additional.png" srcset="./img/img-bike-additional@2x.png 2x" alt="" title="")
          a.bike__block-specs(href="#" class="" title="")
            p!= "specs"
            span!= "+"

          p.bike__block-price!= "$ 7.345"

// SECTION bike :: END