// SECTION :: START

mixin descriptionBlock(classMod)
  .home-hardware-item(class!= "home-hardware-item--" + classMod)
    .home-hardware-item__content

      ul.home-hardware-item__list
        li.home-hardware-item__list-item
          strong 770 WH
          |  battery capacity
        li.home-hardware-item__list-item
          | More than
          strong 100 KM
          |  of range
        li.home-hardware-item__list-item
          | Engineered by
          strong Greyp

      .home-hardware-item__desc
        p
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages…


section#description.description

  .home-hardware

    .description__tabs
      a.description__tabs-btn.is-active(href="#" class="" title="")
        span!= "Stem"
      a.description__tabs-btn(href="#" class="" title="")
        span!= "Application"
      a.description__tabs-btn(href="#" class="" title="")
        span!= "Stem"
      a.description__tabs-btn(href="#" class="" title="")
        span!= "Stem"
      a.description__tabs-btn(href="#" class="" title="")
        span!= "Stem"

    .home-hardware__header
      p!= '_HARDWARE'

    #video-container.home-hardware__video-container

      video#video(preload='')
        //source(type='video/webm; codecs="vp8, vorbis"', src='media/video-bike.webm')
        //source(type='video/ogg; codecs="theora, vorbis"', src='media/video-bike.ogv')
        source(type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"', src='media/video-bike.mp4')

      +descriptionBlock('1')
      +descriptionBlock('2')
      +descriptionBlock('3')
      +descriptionBlock('4')
      +descriptionBlock('5')


// SECTION :: END