// SECTION fast :: START

section#fast.fast
  .c-grid
    .fast__wrapper

      p.fast__desc!= "If you are still not convinced: there is one crazy big brother of the G6 waiting for you:"

      .fast__title
        h2!= "_G12"
        p!= "the big brother of G6, fast and illegal"

      .fast__block
        .fast__block-img
          img(src="./img/img-fast-bg.jpg" srcset="./img/img-fast-bg@2x.jpg 2x" alt="" title="")

        p.fast__block-text
          span!= "STUPIDLY"
          span!= "FAST"

        a.fast__block-btn(href="#" class="" title="")!= "READ MORE"

// SECTION fast :: END